.MenuToggle {
  position: fixed;
  left: 40px;
  top: 40px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: opacity, left .22s ease-out;
  z-index: 100;
}

.MenuToggle:hover {
  opacity: .7;
}

.MenuToggle.open {
  left: 350px;
}